$text-color:  rgb(255,255,255);
$p-color:	rgb(255,0,255);
$back-background-color: #666666;

* {
	box-sizing: border-box;
}

body {
	background-color: $back-background-color;
	color: $text-color;
}

img{
	width:300px;
	height:200px;
}

p {
	font-size: 25px;
	font-weight: bold;
	color: $p-color;
}